body{
    background:rgb(151, 151, 238);
    font-family:'Special elite',cursive; 
}

.header_div{
    background:white;
    color:rgb(138, 248, 74); 
}

.header_div p{
    font-family: 'Roboto', sans-serif; 
    color:rgb(82, 131, 221);
    letter-spacing:2px;
    font-size:12px;
    font-weight:bold;
}

.main_div button{
    font-family: 'Roboto', sans-serif; 
    margin-top:30px;
    width:130px;
    font-weight:bolder;
    letter-spacing:3px;
}

.copy_right_footer{
    position:fixed;
    color:#f3be79;
    bottom:0;
    width:100%;
    font-size:18px;
    background-color:black; 
    font-size:18px;
    text-align:center;
    line-height:3;
}